body {
  background-color: #000000;
}

.tablero {
	border: 3px solid #FFFFFF;
	height: 500px;
	width: 500px;
}

#pacman {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  transform: rotate(0deg);
}

#phantom1 {
  position: fixed;
  height: 20px;
  width: 20px;
  transform: rotate(0deg);
  filter: hue-rotate(10deg);
}


#phantom2 {
  position: fixed;
  height: 20px;
  width: 20px;
  transform: rotate(0deg);
  filter: hue-rotate(250deg);
}


#phantom3 {
  position: fixed;
  height: 20px;
  width: 20px;
  transform: rotate(0deg);
  filter: hue-rotate(50deg);
}

#phantom4 {
  position: fixed;
  height: 20px;
  width: 20px;
  transform: rotate(0deg);
  filter: hue-rotate(150deg);
}

#guinda1 {
  position: fixed;
  height: 30px;
  width: 30px;
}

#guinda2 {
  position: fixed;
  height: 30px;
  width: 30px;
}

#gameover {
  height: 300px;
  position: fixed;
}

